<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title align="center">
      Comics
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ng-container *ngFor="let comic of comics | async">
    <ion-card *ngIf="comic.description">
      <img src="{{comic.thumbnail.path}}.{{comic.thumbnail.extension}}">
      <ion-card-header>
        <ion-card-title>{{comic.title}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        {{comic.description}}
      </ion-card-content>
    </ion-card>
  </ng-container>
</ion-content>
